.header {
    background: none;
}

html,
body {
    position: relative;
    height: 100%;
}

body {
    background: rgb(240, 240, 240);
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #000;
    margin: 0;
    padding: 0;
}

.swiper-container {
    width: 90%;
    height: 80%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: transparent;
    margin-top: 48px;
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.swiper-slide img {
    width: 100%;
}

#root {
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    width: 1200px;
    margin-top: 15px;
}

.itemContainer {
    margin-right: 15px;
    flex-direction: column;
    width: 600px;
}

.item {
    margin-bottom: 50px;
    background: #fff;
}

.itemImg {
    width: 100%;
}

.userInfo {
    padding: 5px 10px;
}

.avatar {
    vertical-align: middle;
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.username {
    margin-left: 5px;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, .3);
}

@media(max-width:580px) {
    #root {
        width: 360px;
        margin-top: 15px;
    }
    .itemContainer {
        width: 50%;
    }
}