.header {
    background: none;
}

.b {
    display: none;
}

@media(max-width:580px) {
    .a{display:none;}
    .b{display:block}
}

@media(min-width:580px) {
    .a{display:block;}
    .b{display:none}
}