/* 重置 */

* {
    margin: 0;
    padding: 0;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: #7469d8;
    display: block;
    font-size: 14px;
}

h1,
h2,
h3,
h4,
p {
    font-size: 16px;
    font-weight: normal;
}

.clearfix {
    clear: both;
}


/* 页眉-导航 */

.header .nav {
    background-color: #b4c6f0;
    height: 50px;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: 100;
    box-shadow: 0px 0px 9px 1px rgba(163, 183, 230, 0.5);
}

.header .nav .navInner {
    max-width: 1200px;
    margin: 0 auto;
}

.header .nav .navInner .menu {
    float: right;
}

.header .nav .navInner li {
    float: left;
}

.header .nav .navInner li a {
    color: rgb(0, 0, 0);
    line-height: 50px;
    box-sizing: border-box;
    padding: 0 20px;
    border-bottom: transparent 1px solid;
    transition: 0.3s;
}

.header .nav .navInner .current a {
    color: #000000;
    font-weight: 600;
}

.header .nav .navInner li a:hover {
    border-bottom: 3px solid #263072;
}

.mobileBtn {
    width: 50px;
    float: right;
    display: none;
    margin-top: 12px;
}

.mobileBtn div {
    height: 2px;
    background-color: white;
    margin: 5px 15px;
}

.navList {
    position: fixed;
    left: 0;
    background-color: rgba(0, 0, 0, 0.438);
    width: 100%;
    display: none
}

.navList a {
    display: block;
    color: white;
    text-align: center;
    line-height: 24px;
    padding: 10px 0;
    border-bottom: solid 1px #666
}


/* 响应 */

@media(max-width:800px) {
    .header {
        width: auto;
    }
    .menu {
        display: none;
    }
    .mobileBtn {
        display: block;
    }
}